<h1>Resend unlock instructions</h1>

<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="row">
    <div class="medium-12 columns">
      <%= f.label :email, class: 'input-group-label' %>
      <%= f.email_field :email, autofocus: true %>
    </div>
  </div>

  <div class="row">
    <%= f.submit "Resend unlock instructions", class: "small-12 hollow button defcon-5" %>
    <%= render "devise/shared/links" %>
  </div>
<% end %>
