<%= form_for @bar, html: {class: "bar_form"} do |f| %>
  <div class="row">
    <div class="medium-10 columns">
      <%= f.label :name %><br />
      <%= f.text_field(:name, size: 60, placeholder: "What's the name of the bar?") %>
    </div>
  </div>
  <div class="row">
    <div class="medium-10 columns">
      <%= f.label :address %><br />
      <%= f.text_field(:address, size: 60, placeholder: "What's the street address?") %>
    </div>
</div>
  <div class="row">
    <div class="medium-4 columns">
      <%= f.label :city %><br />
      <%= f.text_field(:city, size: 60, placeholder: "What city is it in?") %>
    </div>
    <div class="medium-4 columns">
      <%= f.label :state %><br />
      <%= f.text_field :state, placeholder: "Just the abbreviation..." %>
    </div>
    <div class="medium-2 columns">
      <%= f.label :zip %><br />
      <%= f.text_field :zip, placeholder: "Zipcode?" %>
    </div>
  </div>
  <div class="row">
    <div class="field">
      <%= f.label :phone_number, "Phone Number" %><br />
      <%= f.text_field(:phone_number, size: 60, placeholder: "Business phone number")%>
    </div>
  </div>
  <div class="field">
    <%= f.label :image_url, "Image URL" %><br />
    <%= f.text_field(:image_url, size: 60, placeholder: "You can optionally enter an image url.")%>
  </div>
  <div class="field">
    <%= f.label :url, "URL" %><br />
    <%= f.text_field(:url, size: 60, placeholder: "You can optionally enter the bars website.")%>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area(:description, size: "60x10", placeholder: "You can optionally enter a description here.")%>
  </div>

  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>
