<% @bars.each do |bar| %>
  <div class="bar_card">
    <img src="<%=bar.image_url%>">
    <p><%= bar.rating %> </p>
    <p><%= bar.name %> </p>
    <p><%= bar.address %> </p>
    <p><%= bar.city%>, <%=bar.state%> <%=bar.zip%> </p>
    <p><%= bar.phone_number %> </p>
    <p>Place Holder for Link to Show Page</p>
  </div>
<%end%>
