<h1>Bars</h1>

<div class="nav_bar">
  <%= form_tag(bars_path, method: :get) do %>
    <%= text_field_tag :term, params[:term] %>
    <%= submit_tag 'Search', name: nil %>
  <% end %>
</div>

<div id="bars"></div>
<div id="reviews">

</div>


<% if current_user %>
  <% if current_user.admin? %>
    <%=link_to "Create Bar", new_bar_path %>
  <% end %>
<% end %>

<% if params['term'] %>
  <%= link_to "Go Back", root_path %>
<% end %>
