<h1><%= @bar.name %></h1>

<img src="<%=@bar.image_url%>">
<p><%= @bar.name %> </p>
<p><%= @bar.address %> </p>
<p><%= @bar.city%>, <%=@bar.state%> <%=@bar.zip%></p>
<p><%= @bar.phone_number %></p>

<% if @bar.description %>
  <p><%= @bar.description %></p>
<% end %>


<% if @reviews.any? { |review| review.user.admin == true } %>
  <h2> Our Review </h2>
  <% @reviews.each do |review| %>
      <% if review.user.admin == true %>
      <ul>
        <li> Drinks: <%= review.drinks %> </li>
        <li> Food: <%= review.food %> </li>
        <li> Entertainment: <%= review.entertainment %> </li>
        <li> Vibe: <%= review.vibe %> </li>
        <li> Setting: <%= review.setting %> </li>
      </ul>
      <p><strong>Description: </strong><%= review.description %></p>
    <% end %>
  <% end %>
<% end %>

<% if @reviews.any? { |review| review.user.admin == false } %>
  <h2> Your Reviews </h2>
  <% @reviews.each do |review| %>
    <% if review.user.admin == false %>
      <div id = "review">
        <p><strong><%= review.user.username %></strong> : <%= (review.drinks  + review.food + review.entertainment + review.vibe + review.setting) / 5 %> </p>
        <% if !review.description.blank? %>
          <p><strong>Description: </strong><%= review.description %></p>
        <% end %>
      </div>
    <% end %>
  <% end %>
<% end %>

<p><a href="http://<%= @bar.url %>">Website</a></p>

<div id="map"></div>

<input id="address" type="hidden" value="<%= @bar.address %>">

<script>
  function initMap() {
    var philly = {lat: 39.9526, lng: -75.1652};
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 12,
      center: philly
    });
    var geocoder = new google.maps.Geocoder();

    window.onload = function() {
      geocodeAddress(geocoder, map);
    };
  }

  function geocodeAddress(geocoder, resultsMap) {
    var address = document.getElementById('address').value;
    geocoder.geocode({'address': address}, function(results, status) {
      if (status === 'OK') {
        resultsMap.setCenter(results[0].geometry.location);
        var marker = new google.maps.Marker({
          map: resultsMap,
          position: results[0].geometry.location
        });
        resultsMap.setZoom(17);
        resultsMap.panTo(marker.position);
      } else {
        alert('Geocode was not successful for the following reason: ' + status);
      }
    });
  }
</script>

<div class="show_bar_footer">
  <%= link_to "Back", root_path %>
  <% if current_user %>
    <% if current_user.admin? %>
      <%= link_to "Edit Bar", edit_bar_path %>
    <% end %>
  <% end %>
</div>

<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['GOOGLE_MAPS_API_KEY']%>&callback=initMap">
</script>
