<div class="show">
  <div class="row column small-12 medium-6 columns">
    <h1><%= @bar.name %></h1>
    <% if @bar.url %>
      <a href="<%= @bar.url %>"><img src="<%=@bar.image_url%>"></a>
    <% else %>
      <img src="<%= @bar.image_url %>">
    <% end %>

    <% if @bar.rating %>
      <p><span class="label alert">Our Rating: <%= @bar.rating %> / 💣</span></p>
    <% end %>

    <h5><%= @bar.address.upcase %>, <%= @bar.city.upcase%><br>
    <%=@bar.state.upcase%>, <%=@bar.zip%>, <%= @bar.phone_number %></h5>

    <% if @bar.description %>
      <blockquote><%= @bar.description %></blockquote>
    <% end %>

    <% if current_user %>
      <% if current_user.admin? %>
        <%= link_to "Edit Bar", edit_bar_path(@bar) %>
        <%= link_to "Delete Bar", @bar, method: :delete %>
      <% end %>
    <% end %>

    <% if @admin_review.blank? %>
      <p>We haven't gotten around to reviewing this just yet. Check back later.</p>
      <% if current_user %>
        <% if current_user.admin? %>
          <div class="hollow button defcon-5"><%= link_to "Create Review", new_bar_review_path(@bar, @admin_review), id: 'admin_create' %></div>
        <% end %>
      <% end %>
    <% else %>
    <br>
      <p><strong><u>OUR BREAKDOWN</strong></u></p>
      <ul>
        <li> Drinks: <%= @admin_review.drinks %> </li>
        <li> Food: <%= @admin_review.food %> </li>
        <li> Entertainment: <%= @admin_review.entertainment %> </li>
        <li> Vibe: <%= @admin_review.vibe %> </li>
        <li> Setting: <%= @admin_review.setting %> </li>
      </ul>
      <p><strong><u>OUR REVIEW:</strong></u> <span id="review"><%=@admin_review.description %></span></p>
      <% if current_user %>
        <% if current_user.admin? %>
          <div class="hollow button defcon-5"><%= link_to "Edit Review", edit_bar_review_path(@bar) %></div>
          <div class="hollow button defcon-5"><%= link_to "Delete Review", bar_review_path(@bar, @admin_review), method: :delete %></div>
        <% end %>
      <% end %>
    <% end %>
    <% if @user_reviews.blank? %>
      <h2> Be the first to leave a review!</h2>
    <% else %>
      <p class="subheader"><strong><u>USER REVIEWS</strong></u></p>
      <p><span class="label alert">Average User Rating: <%= @user_avg_rating %> / 5 💣</span></p>

      <% @user_reviews.each do |review| %>
        <% if review.user.profile_photo %>
          <img id="profile_photo" src="<%= review.user.profile_photo %>" height=50 width=50/>
        <% end %>
        <p><strong><%= review.user.username %>:</strong><small> rates this dive </small><%= (review.drinks + review.food + review.entertainment + review.vibe + review.setting) / 5.0 %> / 5 💣 </p>
        <% if review.description.present? %>
          <p><strong>Description: </strong><span id="review"><%= review.description %></span></p>
        <% end %>
        <% if current_user %>
          <% if review.user == current_user %>
            <div class="hollow button defcon-5"><%= link_to "Edit Review", edit_bar_review_path(@bar) %></div>
            <div class="hollow button defcon-5"><%= link_to "Delete Review", bar_review_path(@bar, review), method: :delete %></div>
          <% elsif current_user.admin? %>
            <div class="hollow button defcon-5"><%= link_to "Delete Review", bar_review_path(@bar, review), method: :delete %><br />
          </div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
    <div class="hollow button defcon-5"><%= link_to "Create Review", new_bar_review_path(@bar) %></div>
  <div class="row">
    <div class="small-12 columns" id="map"></div>
  </div>
    <div class="hollow button defcon-5"><%= link_to "Back to Dives", bars_path %></div>
    <input id="address" type="hidden" value="<%= @bar.address%> <%= @bar.city %> <%= @bar.zip %>">
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['GOOGLE_MAPS_API_KEY']%>&callback=initMap">
    </script>
</div>
