<div class="row column small-12 medium-6 columns" id="white">
  <h1><%= @bar.name %></h1>
  <% if @bar.url %>
    <a href="<%= @bar.url %>"><img src="<%=@bar.image_url%>"></a>
  <% else %>
    <img src="<%= @bar.image_url %>">
  <% end %>

  <% if @bar.rating %>
    <p><span class="label alert">Our Rating: <%= @bar.rating %> / "💣💣💣💣💣"</span></p>
  <% end %>

  <h5><%= @bar.address %>, <%= @bar.city%><br>
  <%=@bar.state%>, <%=@bar.zip%>, <%= @bar.phone_number %></h5>

  <% if @bar.description %>
    <blockquote><%= @bar.description %></blockquote>
  <% end %>

  <% if current_user %>
    <% if current_user.admin? %>
      <%= link_to "Edit Bar", edit_bar_path %>
      <%= link_to "Delete Bar", @bar, method: :delete %>
    <% end %>
  <% end %>

<!-- 1) If there is no admin review and no user review placeholders pop up
2) If there is an admin review and no user review, it takes up full screen
3) If there is just a user review and no admin review, it takes up full screen
4) If there are both an admin review and a user review they split screen -->

  <% if @admin_review.blank? %>
    <p>We haven't gotten around to reviewing this just yet. Check back later.</p>
  <% else %>
    <h5 class="subheader"><strong>Our Breakdown</strong></h5>
    <% @admin_review.each do |rating| %>
    <ul>
      <li> Drinks: <%= rating.drinks %> </li>
      <li> Food: <%= rating.food %> </li>
      <li> Entertainment: <%= rating.entertainment %> </li>
      <li> Vibe: <%= rating.vibe %> </li>
      <li> Setting: <%= rating.setting %> </li>
    </ul>
    <p><strong>Our Review: </strong><span id="review"><%= rating.description %></span></p>
    <% end %>
  <% end %>

  <% if @user_reviews.blank? %>
    <h2> Be the first to leave a review!</h2>
  <% else %>
    <h5 class="subheader"><strong>User Reviews</strong></h5>
    <p><span class="label alert">Average User Rating: <%= @user_avg_rating %> / 5 </span></p>
    <% @user_reviews.each do |review| %>
      <% if review.user.profile_photo %>
        <img id="profile_photo" src="<%= review.user.profile_photo %>" height=50 width=50/>
      <% end %>
      <p><strong><%= review.user.username %></strong> : <%= (review.drinks  + review.food + review.entertainment + review.vibe + review.setting) / 5 %> </p>
      <% if review.description.present? %>
        <p><strong>Description:</strong><span id="review"><%= review.description %></span></p>
      <% end %>
    <% end %>
    <% if current_user %>
      <% if review.user == current_user %>
        <div class="hollow button alert"><%= link_to "Edit Review", {action: :edit}, {style: "color: #F2552C"} %>
        <div class="hollow button alert"><%= link_to "Delete Review", {action: :delete}, {style: "color: #F2552C"}, method: :delete %>
      <% end %>
    <% end %>
  <% end %>

  <div id="map"></div><input id="address" type="hidden" value="<%= @bar.address %>">

  <br>
  <div class="hollow button alert"><%= link_to "See All Dives", {action: :index}, {style: "color: #F2552C"} %></div>

  <% if current_user %>
    <% if current_user.admin? %>
      <%= link_to "Delete Review", {action: :delete}, {style: "color: #F2552C"}, method: :delete %>
    <% end %>
  <% end %>

  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['GOOGLE_MAPS_API_KEY']%>&callback=initMap">
  </script>
