<h1><%= @bar.name %></h1>

<img src="<%=@bar.image_url%>">
<p><%= @bar.rating %> </p>
<p><%= @bar.name %> </p>
<p><%= @bar.address %> </p>
<p><%= @bar.city%>, <%=@bar.state%> <%=@bar.zip%></p>
<p><%= @bar.phone_number %></p>

<% if !@bar.description.blank? %>
  <p><%= @bar.description %></p>
<% end %>

<p><a href="<%= @bar.url %>">Website</a></p>

<div class="show_bar_footer"
  <%= button_to "Back", root_path, method: 'get' %>
  <% if current_user %>
    <% if current_user.admin? %>
      <%= button_to "Edit Bar", edit_bar_path, method: 'get' %>
    <% end %>
  <% end %>
</div>
