<h1><%= @bar.name %></h1>

<img src="<%=@bar.image_url%>">
<p><%= @bar.name %> </p>
<p><%= @bar.address %> </p>
<p><%= @bar.city%>, <%=@bar.state%> <%=@bar.zip%></p>
<p><%= @bar.phone_number %></p>

<% if @bar.description %>
  <p><%= @bar.description %></p>
<% end %>

<p><a href="http://<%= @bar.url %>">Website</a></p>

<div id="map"></div>

<input id="address" type="hidden" value="<%= @bar.address %>">

<% if @reviews.any? { |review| review.user.admin == true } %>
  <h2> Our Review </h2>
  <% @reviews.each do |review| %>
      <% if review.user.admin == true %>
      <ul>
        <li> Drinks: <%= review.drinks %> </li>
        <li> Food: <%= review.food %> </li>
        <li> Entertainment: <%= review.entertainment %> </li>
        <li> Vibe: <%= review.vibe %> </li>
        <li> Setting: <%= review.setting %> </li>
      </ul>
      <p><strong>Description: </strong><%= review.description %></p>
    <% end %>
  <% end %>
<% end %>

<%= link_to "Create a Review", new_bar_review_path(@bar) %>

<% if @reviews.any? { |review| review.user.admin == false } %>
  <h2> Your Reviews </h2>
  <% @reviews.each do |review| %>
    <% if review.user.admin == false %>
      <div id = "review">
        <p><strong><%= review.user.username %></strong> : <%= (review.drinks  + review.food + review.entertainment + review.vibe + review.setting) / 5 %> </p>
        <% if !review.description.blank? %>
          <p><strong>Description: </strong><%= review.description %></p>
        <% end %>
        <% if review.user = current_user %>
          <%= link_to "Edit Review", edit_bar_review(@bar) %>
          <%= link_to "Delete Review", bar_review_path(@bar, review), method: delete %>
        <% end %>
      </div>
    <% end %>
  <% end %>
<% end %>

<%= link_to "Go Back", bars_path %>

<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['GOOGLE_MAPS_API_KEY']%>&callback=initMap">
</script>
