<div class="row">
  <h1>Change your password</h1>
</div>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <div class="row">
    <div class = "small-offset-3 small-6 columns">
      <%= f.label :password, "New password", class: 'input-group-label' %>
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>
      <%= f.password_field :password, autofocus: true, autocomplete: "off" %>
    </div>
    <div class = "small-offset-3 columns">
  </div>

  <div class="row">
    <div class = "small-offset-3 small-6 columns">
      <%= f.label :password_confirmation, "Confirm new password" %>
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>
    <div class = "small-offset-3 columns"></div>
  </div>

  <div class="row">
    <div class = "small-offset-3 small-6 columns">
      <%= f.submit "Change my password", class: 'small-12 hollow button defcon-5' %>
      <%= render "devise/shared/links" %>
    </div>
    <div class = "small-offset-3 columns"></div>
  </div>
  <div class="row">
    <div class = "small-offset-3 small-6 columns">
      <%= link_to "Go Back", root_path %>
    </div>
    <div class = "small-offset-3 small-6 columns"></div>
<% end %>
