<%= form_for [@bar, @review] do |f| %>
  <div class="field">
    <%= f.label :drinks %>
    <%= f.text_field :drinks, required: true %>
  </div>

  <div class="field">
    <%= f.label :food %>
    <%= f.text_field :food, required: true %>
  </div>

  <div class="field">
    <%= f.label :entertainment %>
    <%= f.text_field :entertainment, required: true %>
  </div>

  <div class="field">
    <%= f.label :vibe %>
    <%= f.text_field :vibe, required: true %>
  </div>

  <div class="field">
    <%= f.label :setting %>
    <%= f.text_field :setting, required: true %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.submit "Submit" %>
  </div>
<% end %>
