<!DOCTYPE html>
<html>
  <head>
    <title>Ecommerce</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <% if flash[:notice] %>
      <% if flash[:notice].is_a?(String) %>
        <%= flash[:notice] %>
      <% else %>
        <% flash[:notice].each do |key, value| %>
          <% if value.is_a?(Array) %>
            <% value.each do |error| %>
              <%= "#{key.capitalize} #{error}." %>
            <% end %>
          <% else %>
            <%= "#{key.capitalize} #{value}." %>
          <% end %>
          <br />
        <% end %>
      <% end %>
    <% end %>

    <% if user_signed_in? %>
      <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "Sign In", new_user_session_path %>
      <%= link_to "Sign Up", new_user_registration_path %>
    <% end %>

    <%= yield %>

    <% if request.env['PATH_INFO'] != "/" && request.env['PATH_INFO'] != "/bars" %>
      <%= link_to "Go Back", url_for(:back) %>
    <% end %>

  </body>
</html>
