<!DOCTYPE html>
<html>
  <head>
    <title>Project Dive Bomb</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

  <div class="nav_bar">
    <div>
      <% if current_user %>
        <% if current_user.admin? %>
          <%=link_to "Create Bar", new_bar_path %>
          <% end %>
        <% end %>
    </div>
    <div class="search_bar">
      <%= form_tag(bars_path, method: :get) do %>
        <%= text_field_tag :term, params[:term] %>
        <%= submit_tag 'Search', name: nil %>
      <% end %>
    </div>
    <div class="login">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
      <% end %>
      <% if request.env['PATH_INFO'] != "/users/sign_up" && request.env['PATH_INFO'] != "/users/sign_in" %>
        <% if user_signed_in? %>
          <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to "Sign In", new_user_session_path %>
          <%= link_to "Sign Up", new_user_registration_path %>
        <% end %>
      <% end %>
    </div>

  <% if flash[:notice] %>
    <% if flash[:notice].is_a?(String) %>
      <%= flash[:notice] %>
    <% else %>
      <% flash[:notice].each do |key, value| %>
        <% if value.is_a?(Array) %>
          <% value.each do |error| %>
            <%= "#{key.capitalize} #{error}." %>
          <% end %>
        <% else %>
          <%= "#{key.capitalize} #{value}." %>
        <% end %>
        <br />
      <% end %>
    <% end %>
  <% end %>

    <%= yield %>

  </body>
</html>
